body{
    background-color: rgb(0, 5, 31);

    color:rgb(243, 244, 244);
    font-family: 'Nunito', sans-serif;
   
  }
.container{margin: 0 auto}
.headermid{display: none;}
.responimg{display: none;}
.top-end-footer{display: none;}
.hamburgermenu
{   padding: 8px 12px;
    text-decoration: none;
    color:rgb(243, 244, 244);
}
.cpbaslik
{
    text-align: center;
    margin: 32px 0 16px 0 ;

}
.ciniporselen{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    align-content: center;
    justify-content: center;
    margin: 12px 12px;
    text-align: center;
    row-gap: 20px;
 
    & .cini , .porselen
    {
        border: 2px solid #b72b3e;
        background-color: #b9101059;
        border-radius: 5px;
        padding: 15px;

        & h3
        {
            margin-bottom: 10px;
        }

    }
    & .porselen{
        border: 2px solid #237580;
        background-color: #165153c2;
    }
    
}

.yasam {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 32px 8px;
    & div
    {
        margin-bottom: 64px;
    }
    & li{
    
    text-align: left;
}   
& h4
{
    font-size: 23px;
    margin-bottom: 0;
}
    & h6{
        font-size: 25px;
        margin-bottom: 0;
    }
    
    & p {
        font-size:18px;
    };
 }

 .kutahyadayasam ,.ulasim , .iklim{
    border: 2px solid orange;
    background-color: #ac956c;
    border-radius: 8px;
    padding: 10px;
 }
 .ulasim{border: 2px solid #4b74cf; background-color: #3d507b;}
 .iklim{border: 2px solid #aff95e; background-color: #1e6026;}

.btn
{   padding: 10px 15px;
    background: #53798d;
    text-decoration: none;
    color:rgb(243, 244, 244);
    font-size: 12px;
    border-radius: 16px;
   
}
.btn:hover{ background-color: #0c9fea;}

  *:focus {
    outline: 0;
  }
  
    
.header
{  position:sticky;
    margin:16px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    border-radius: 10px;
}
.headerright
{   display: flex;
    gap:7px;
}


span
{   display: flex;
    gap:7px;
}

.overlay 
{   height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #01061e;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content 
{   padding-block: 120px;
    text-align: center;
   margin-bottom: 5px;
}

.overlay a 
{   font-weight: 700;
    line-height: 30px;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    color:rgb(243, 244, 244);
    margin-bottom: 12px;
}
    
.overlay a:hover, .overlay a:focus {color: #aebed1;}
  
.overlay .closebtn 
{   position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.faq-inside-menu a
{   font-size: 16px;
    text-align: center;
}
.faq-content-menu summary
{   font-size: 22px;
    font-weight: 700;
    line-height: 30px; /* 150% */ 
    cursor: pointer;
    margin-bottom: 12px;
}


summary
{   font-size: 22px;
    font-weight: 700;
    line-height: 30px; /* 150% */ 
    cursor: pointer;
    
    
}
summary:hover, summary:focus{color: #aebed1;} 

.cards
{   

    display:flex;
    gap: 10px;
    align-content: center;
    width: auto;
    text-align: center;
    
}
.cards a
{   

   padding: 10px;
    
}
.sectionpart
{
     margin:0 12px 64px 12px;
     display: flex;
     flex-direction: column;
     gap: 48px;
}
.section, .section2,.section3,.section4,.section5,.section6,.section7
{  
    
    
    background: url('../img/antik-kent.jpg') no-repeat ;
    background-position: center;
    background-size: cover;
    width: auto;
    padding-top: 60px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: flex;
     align-items: center; 
    gap: 92px;
}
.baslik
{
    padding-left: 10px;
}
.section2
{
    background: url('../img/cini-porselen.jpg') no-repeat ;
    background-position:center;
    background-size: cover;
    gap: 52px;
}
.section3
{
    background: url('../img/germiyan-sokak.jpg') no-repeat ;
    background-position:top;
    background-size: cover;
    gap: 148px; 

}
.section4
{
    background: url('../img/üniversite.jpg') no-repeat ;
    background-position:center;
    background-size: cover;
    gap: 116px; 
}
.section5
{
    background: url('../img/yemek\ .jpg') no-repeat ;
    background-position:center;
    background-size: cover;
     gap: 72px; 
}
.section6
{
    background: url('../img/folklor.jpg') no-repeat  ;
    background-position:center;
    background-size: cover;
     gap: 80px; 

}
.section7
{
    background: url('../img/saat-kulesi.jpg') no-repeat ;
    background-position:top;
    background-size: cover;
     gap: 85px; 

}

.card1
{   border:solid rgba(11, 18, 18, 0.41) 1px;
    border-radius: 6px;
    padding: 8px;
    background-color:rgb(0 5 31 / 78%);

    height:auto;
    
 
    /* filter:alpha(opacity=60); */
}
.card1 a{
    text-decoration: none;
    color:#fff;
}


/* Slideshow container */
.slideshow-container {
   
    position: relative;
    /* margin:0 auto; */
     /* margin-bottom: -150px;
     margin-top: -150px;
     
    */
    border-radius: 18px; /* İstediğiniz border-radius değerini burada belirleyebilirsiniz */
    overflow: hidden;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .content {
    position: absolute;
    bottom: 0;
     background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    width: 100%;
    padding: 30px;
    font-size: 25px;
    /* margin-bottom: 180px; */
    /* text-align: center; */
    /* display: flex; */
}

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    height: 240px;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

section {
    /* position: relative; */
    width: 100%;    
    height: 100vh;
   
      }
    
   section video 
   {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height:  100%; 
    object-fit:contain;
   
   }
     
    
    section .navigation {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
          }
    
          section .navigation li
          {
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background: white ;
    padding: 3px 3px 0;
    opacity: 0.7;
    transition: 0.5s;
      }
      section .navigation li:hover
      {
    
    opacity: 1;
    }
    
    
      section .navigation li img
      {
    width: 120px;
    transition: 0.5s;
     }
         
       section .navigation li img:hover
        {
        width: 200px;
      
        } 

        .footer{
            display: flex;
            padding: 32px 16px;
            flex-direction: column;
            align-items: center;
            color:#A5ACBA;
            background-color: #53798d;
            border-radius: 4px;
        }
        
        .footertop p
{
    /* margin-top: 20px; */
    margin-bottom: 24px;
 
    text-align: center;
   
   

}
.companylogo{

    margin-bottom: 16px;
   margin-left: 30px;
} 
.flogo {
    display: block;
}
.logos
{
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-bottom: 24px;
}
.linkscolumAll
  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap:64px;
    /* row-gap:24px ; */
    margin-bottom: 24px;
    padding-left: 20px;

}
.linksColum a
{
    display: block;
    color:#A5ACBA;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px;
    margin-bottom: 12px;
}
.linksColum h4{
    color: #F9F9F9;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px;
    margin-bottom: 16px;
}
.top-end h4 {
    text-align: left;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    padding-left: 15px;
}
.top-end-place {
    display: flex;
    height: 48px;
    padding: 1px 1px 1.087px 16px;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    gap: 1px;
}
.search-input {
    background-color:rgb(0, 5, 31);
    display: flex;
    height: 48px;
    padding: 1px 1px 1.087px 16px;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
}
.place-icon a {
    background-color:rgb(0, 5, 31);
    text-decoration: none;
    color: #F9F9F9;
    padding: 12px;
    border-radius: 4px;
    margin-right: 20px;
}
.faq{
    /* width: 1110px;
    height: 800px; */
    margin:64px 12px;
}
.faq-content h4{
    margin-bottom: 10px;
}
.faq summary{
    font-size: 12px;
}
.faq-content details{
    border-top: 1px solid #3F3B3B;
    border-bottom: 1px solid #3F3B3B;
}
.faq-content summary{  
    list-style: none;
    background-image: url(/assests/img/plus.svg);
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
}
.faq-content details[open] summary{
    background-image: url(../img/Minus.svg);
}

.faq-inside{
    font-size: 10px;
}
.wrapper {
    display: grid;
    background-color: #4e5ca3;
    margin: 35px;
    border-radius: 10px;
    
} 
.wrapper h3{text-align: center; }
.contact-form {
     padding: 20px;
    border-radius: 4px;
    
    
   
}
.input-field {
    background-color: #fff;
    padding: 6px;
    margin-block-end: 15px;
    outline: none;
    border-block-end: 2px solid transparent;
    border-radius: 10px;
    margin-left: 40px;
}
.input-field:focus { border-color:#53798d }
textarea.input-field {
    resize: vertical;
    /* min-height: 120px; */
    height: 90px;
    max-height: 200px;
  }
  .contact-form .btn { margin-left:83px; }
  .contact-card {
    background-color: #53798d;
    padding: 30px;}
    .contact-card .card-title {
        font-family:Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight:700; }
        .contact-card > li:not(:last-child) { margin-block-end: 30px; }
        .contact-card .card-link {color: #53798d; }
        .contact-card .card-link:is(:hover, :focus) { color: #53798d; }
        .footerbottom
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            align-self: stretch;
        }



        @media (width >=768px){
            .headermid{display: none;}
        .header
        {  
            margin:16px 16px 30px 16px;
        }
        .headerright
        {   
            gap:15px;
        }

        .fade{
            height:400px;
        }
        .yasam
        {
           margin-inline: 32px;
        }
        .sectionpart
            {
                margin:20px 20px 64px 20px;
            }
        .section, .section2,.section3,.section4,.section5,.section6,.section7
        {  
            
            width: auto;
            height: 190px;
            border-radius: 10px;
            display: flex;
            align-items: center; 
            gap: 98px;
            justify-content: space-around;
        }
        .section2{
            gap:73px;
        }
        .section3{
            gap:130px;
        }
        .cards
        {   

            display:flex;
            gap: 10px;
            width: auto;
            text-align: center;
           
            
        }
        .card1 {
            border-radius: 22px;
            padding: 20px;
            height: auto;
            width: 130px;
        }
        section video
        {
                width: auto;
                height: auto;

            }
            .contact-form {
                display: grid;
                grid-template-columns: repeat(2 ,1fr);
                padding: 20px;
                column-gap: 10px;
                margin-left: 0;
            }
            .input-field {
                background-color: #fff;
                padding: 10px;
                margin-block-end: 15px;
                outline: none;
                border-block-end: 2px solid transparent;
                border-radius: 10px;
                height: 50px;
                
                }
                .contact-form .btn {
                 margin:0; 
                width: 110px;
            
                }

                .footer {
                    display: flex;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    padding: 32px 16px;
                    flex-direction: column;
                    /* align-items: center; */
                    color: #A5ACBA;
                    background-color: #53798d;
                    border-radius: 4px;
                    /* margin-top: 38px; */
                }
                .footertop {
                    display: grid;
                    grid-template-columns: repeat(2 ,1fr);
                }
                
                .flogo {
                    display: block;
                    margin-top: 20px;
                }

                .top-end{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 30px;
                    margin-top: 20px;
                }
    .linkscolumAll
    {
        margin-top: 20px;

    }

    }
        
    @media (width >1215px)
    {
        .ciniporselen
        {
            grid-template-columns: repeat(2 , 1fr);
            column-gap: 12px;
           

        }
        .rimg{display: none;}
        
        .header
        {  
            margin:16px 40px 12px 0;
        }
        .header .responimg
        {   display: block;
            margin-right: 250px;
                border-radius: 10px;
            
        }
        .headermid{
            display: flex;
            gap:60px;
            align-items: center;
            list-style: none;
            margin-left: 250px; }
        .headermid ul{
            display: flex;
            margin: 0 10px;}
          
        .headermid  ul li:before {
        background-color: #000000;
        background-size: cover;
        content: '';
        height: 200px;
        left: -65px;
        opacity: 0;
        position: absolute;
        top: -90px;
        transform: translateY(100px);
        transition: opacity 0.5s ease,transform 0.5s ease;
        width: 200px;
        z-index: -1; }
        
          .headermid  ul li:hover:before {
                /* opacity: 0.5; */
                transform: translateY(0);
                transition-delay: 0.5s;  }
          .headermid ul li {
                list-style: none;
                 margin: 0 10px;
                 position: relative; }
          .headermid ul li a {
                display: block;
                font-weight: 600;
                height: 20px;
                overflow: hidden;
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
          }
          .headermid ul li a span {
                color: #ffffff;
                display: block;
                height: 100%;
                transition: transform 0.5s ease;
                width: 100%;
          }
          .headermid ul li a span:nth-child(1) {
              color: rgb(243, 244, 244);
          }
          .headermid ul li:hover a span:nth-child(1) {
                transform: translateY(-100%);
          }
          .headermid ul li a span:nth-child(2) {
                color: #ffffff;
          }
          .headermid ul li:hover a span:nth-child(2) {
                transform: translateY(-100%);
          }

              .headermid a{

                text-decoration: none;
                color:rgb(243, 244, 244);
                font-family: 'Nunito', sans-serif;

              };
        .headerright
        {   
            gap:15px;
        }
        .sectionpart
            {
                margin:40px 50px 64px 50px;
            }
        .section, .section2,.section3,.section4,.section5,.section6,.section7
        {  
            
            width: auto;
            height: 330px;
            border-radius: 10px;
            display: flex;
            align-items: center; 
            gap: 98px;
            justify-content: space-around;
        }
        .section2{
            gap:73px;
        }
        .section3{
            gap:360px;
        }
        .section4{
            gap:300px;
        }
        .baslik{
            font-size:50px;
        }
        .faq{
            margin:64px;
        }
        .faq-content h4
        {
            font-size:25px;
        }
        .faq-content summary
        {
            font-size: 18px;
        }
        .faq-inside
        {
            font-size: 18px;
        }
        .cards
        {   

            display:flex;
            gap: 60px;
            width: auto;
            text-align: center;
           
            
        }
        .card1 {
            border-radius: 25px;
            padding: 27px;
            height: auto;
            width: 200px;
            text-align: center;
        }
        .overlay a{
            font-size:28px;
        }
        .faq-content-menu summary {
            font-size: 28px;
        }   
        section video
        {
               
                height: auto;
                width: 100%;

            }
            .fade{
                height: 600px;
            }
            .contact-form {
                display:flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                column-gap: 10px;
                margin-left: 0;
            }
            .input-field {
                background-color: #fff;
                padding: 10px;
                margin-block-end: 15px;
                outline: none;
                border-block-end: 2px solid transparent;
                border-radius: 10px;
                height: 80px;
                width: 500px;
                
                }
                .contact-form .btn {
                 margin:0; 
                width: 110px;
                padding: 15px;
            
                }


                .footer {
                    display: flex;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    padding: 32px 16px;
                    flex-direction: column;
                    /* align-items: center; */
                    color: #A5ACBA;
                    background-color: #53798d;
                    border-radius: 4px;
                    /* margin-top: 38px; */
                }
                .footertop {
                    display: grid;
                    grid-template-columns: repeat(3 ,1fr);
                    column-gap: 30px;
                }
                
                .flogo {
                    display: block;
                    margin-top: 20px;
                }
                .top-end{display: none;}

                .top-end-footer{
                    display: block;
                    margin-top: 80px;
                    text-align: center;
            
                }
                .top-end-footer h4
                {
                    margin-bottom: 10px;
                    color:rgb(243, 244, 244);
                }
    .linkscolumAll
    {
        margin-top: 20px;

    }


    }